body {
    font-family:"Barlow", sans-serif;
    background-color: rgb(81, 81, 81);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(81, 81, 81);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
}

nav a{
    color: #ffbd03;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0,5s;
    border-radius: 10px;
}

nav a:hover{
    background-color: rgb(122, 122, 122);
    color: #ffbd03;
}

nav ul {
    list-style-type: none;
    padding: 0;
    box-shadow: 0px 7px 7px rgb(0, 0, 0,0.192); 
}

nav ul li {    
    display: inline;
    margin-right: 20px;
}

nav ul li {
    color: #ffbd03;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 7px 7px rgb(0, 0, 0,0.192); 
}

footer {
    background-color: rgb(81, 81, 81);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
}

footer a{
    color: #ffbd03;
    font-weight: bold;
    text-decoration: none;
}

.tips-card {
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

form {
    margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ffbd03;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    box-shadow: 2px 2px 2px #000;
}

